%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}

:javascript
  Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");

/ = javascript_include_tag 'payment'

%section.register.container
  .row
    .span10.offset1
      %fieldset
      = bootstrap_form_for @user, style: :horizontal, html: {id: "payment-form"} do |f|
        %header
          %h1 Register
        = f.email_field :email, label: "Email Address"
        = f.password_field :password
        = f.text_field :full_name, label: "Full Name"
        = hidden_field_tag :invitation_token, @invitation_token
        %br
        %fieldset.credit_card
          %span.payment-errors
          .control-group
            %label.control-label(for="credit-card-number")Credit Card Number
            .controls
              %input.form-control#credit-card-number(data-stripe = "number" type = "text")
          .control-group
            %label.control-label(for="security-code")Security Code
            .controls
              %input.form-control#security-code(data-stripe = "cvc" type = "text")
          .control-group
            %label.control-label Expiration
            .controls
              = select_month(Date.today, {add_month_numbers: true}, class: 'form-control',"data-stripe" => "exp-month")
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control',"data-stripe" => "exp-year")
        %fieldset.actions.control-group
          .controls
            %input(type="submit" value="Sign Up" class="btn")




     

